extends layout2



block content
  h1= title

  div(class="parentChar")
    div(id="left") 
      img(src="/images/Caustic2.png", alt="")
    div(id="right") 
      h2 Toxic Trapper
      p Before there was Caustic, a scientist named Alexander Nox worked at Humbert Labs, the Frontier’s leading manufacturer of pesticide gases. With a glut of pesticides needed to protect the growing Frontier colonies’ crops, Humbert Labs was constantly on the hunt for better and stronger formulas. Nox was one of their brightest scientists and worked day and night developing new gases. But to make sure they worked, he needed to test them on more than just inert tissue: he needed something living.
      p As he toiled in secret, Nox began to see the beauty in his creations and their ability to destroy anything they touched. But the head of Humbert Labs soon discovered his gruesome experiments, and their confrontation ended with the lab in flames and its chief dead. Today, Nox is missing and presumed deceased. Caustic, meanwhile, now finds new test subjects in the Apex Games, where he puts his gaseous creations to work and observes their effects with great interest.
      
      p(class="bold") Real Name:  Alexander Nox
      p(class="bold") Age:	48
      p(class="bold") Tactical Ability:	Nox Gas Trap
      p(class="bold") Passive Ability:  Nox Vision
      p(class="bold") Ultimate Ability:	Nox Gas Grenade

  div(style="position: relative; text-align: center")
    footer(class="foot" style="position: fixed; bottom: 0; width:100%;") All data was collected off the EA Games website