extends layout2



block content
  h1= title

  div(class="parentChar")
    div(id="left") 
      img(src="/images/Gibraltar2.png", alt="")
    div(id="right") 
      h2 Shielded Fortress
      p Gibraltar is a gentle giant with a wild side. The son of two SARAS (Search and Rescue Association of Solace) volunteers, he has always been skilled at getting others out of dangerous situations that are common in the Outlands. However, he only began to understand the value of protecting others when he and his boyfriend stole his father’s motorcycle, took it on a joyride, and got trapped by a deadly mudslide. His parents saved them, and his father lost an arm in the process. Gibraltar has never forgotten that sacrifice and has devoted his life to helping those in need.
      p The Apex Games didn’t change that, but they changed what it meant. Many of Gibraltar’s friends and colleagues have competed in the Games for extra money, fame, and glory over the years, and some never came home. Gibraltar joined to keep them safe and, for the first time, his skills as a rescuer and his rebellious nature worked together. He’s now become an icon in the Apex Games, putting himself in the line of fire to protect his squad and send his opponents running for cover.
      
      p(class="bold") Real Name:  Makoa Gibraltar
      p(class="bold") Age:	30
      p(class="bold") Home World:	Solace
      p(class="bold") Tactical Ability:		Dome of Protection
      p(class="bold") Passive Ability:  Gun Shield
      p(class="bold") Ultimate Ability:	Defensive Bombardment

  div(style="position: relative; text-align: center")
    footer(class="foot" style="position: fixed; bottom: 0; width:100%;") All data was collected off the EA Games website