extends layout

block content
  h1= title
  p Welcome to my #{title} page


  div(id="parent")
    div(id="item")
      a(href='/routes/bangalore.html')
        img(src='/images/Bangalore.jpg')
    div(id="item")
      a(href='/routes/bangalore.html')
        img(src='/images/Bloodhound.jpg')
    div(id="item")
      a(href='/routes/bangalore.html')
        img(src='/images/Caustic.jpg')
    div(id="item")
      a(href='/routes/bangalore.html')
        img(src='/images/Gibraltar.jpg')
    div(id="item")
      a(href='/routes/bangalore.html')
        img(src='/images/Lifeline.jpg')
    div(id="item")
      a(href='/routes/bangalore.html')
        img(src='/images/Mirage.jpg')
    div(id="item")
      a(href='/routes/bangalore.html')
        img(src='/images/Pathfinder.jpg')
    div(id="item")
      a(href='/routes/bangalore.html')
        img(src='/images/Wraith.jpg')
    

      

   
  
  

