extends layout2



block content
  h1= title

  div(class="parentChar")
    div(id="left") 
      img(src="/images/Mirage2.png", alt="")
    div(id="right") 
      h2 Holographic Trickster
      p Mirage is the kind of guy who likes to stand out. The youngest of four brothers, he perfected the art of fooling around to get attention. The one thing he took seriously was Holo-Pilot technology: introduced to the illusion-creating tech by his engineer mother, he poured over the mechanisms and learned all he could about them. Even when his brothers went MIA during the Frontier War, Mirage and his mother continued to develop holo devices, and the work brought them closer.
      p While working as a bartender to make ends meet, Mirage heard amazing stories from his patrons about the Apex Games and the wealth and glory that came with victory. As good as both of those sounded, he knew he couldn’t risk leaving his mother childless – until she gave him a set of customized holo devices and told him to follow his dream. Mirage is now the life of the Apex Games, outwitting opponents and charming audiences across the Outlands.
      
      p(class="bold") Real Name:  Elliott Witt
      p(class="bold") Age:	30
      p(class="bold") Home World:	Solace
      p(class="bold") Tactical Ability:		Psyche Out
      p(class="bold") Passive Ability:  Encore!
      p(class="bold") Ultimate Ability:	Vanishing Act

  div(style="position: relative; text-align: center")
    footer(class="foot" style="position: fixed; bottom: 0; width:100%;") All data was collected off the EA Games website