extends layout2



block content
  h1= title

  div(class="parentChar")
    div(id="left") 
      img(src="/images/Pathfinder2.png", alt="")
    div(id="right") 
      h2 Forward Scout
      p Pathfinder is the picture of optimism, despite his circumstances. A MRVN (Mobile Robotic Versatile eNtity) modified to specialize in location scouting and surveying, he booted up decades ago in an abandoned laboratory with no idea who created him or why. With only his MRVN designation to hint at his identity, Pathfinder set off in search of his creator.
      p Pathfinder has learned much in his travels since then (like how to make a mean Eastern Leviathan Stew) but hasn’t come any closer to finding his creator. Still, he’s never given up hope, and has joined the Apex Games to gain a following--and hopefully draw the attention of his maker. In the meantime, he remains enthusiastic and helpful, always ready to make new friends (then shoot them).
      
      p(class="bold") Real Name:  MRVN
      p(class="bold") Age:  Unknown
      p(class="bold") Home World:	Unknown
      p(class="bold") Tactical Ability: Grappling Hook
      p(class="bold") Passive Ability: Insider Knowledge
      p(class="bold") Ultimate Ability:	Zipline Gun

  div(style="position: relative; text-align: center")
    footer(class="foot" style="position: fixed; bottom: 0; width:100%;") All data was collected off the EA Games website