extends layout2



block content
  h1= title

  div(class="parentChar")
    div(id="left") 
      img(src="/images/Wraith2.png", alt="")
    div(id="right") 
      h2 Interdimensional Skirmisher
      p Wraith is a whirlwind fighter, able to execute swift and deadly attacks and manipulate spacetime by opening rifts in the fabric of reality — but she has no idea how she got that way. Years ago, she woke up in an IMC Detention Facility for the Mentally Ill with no memory of her life before. She also began hearing a distant voice whispering in her mind that would keep her awake for days on end. Despite nearly driving her insane, once she started to listen and trust it, the voice helped her harness her newfound power of void manipulation and escape the facility.
      p Determined to uncover her true identity, Wraith began a quest to find out more about the experiments. Many of the old research facilities, however, are buried beneath heavily guarded arenas used for the Apex Games. Now Wraith has joined the competition, and with every match she gets closer to the truth.
      
      p(class="bold") Real Name:  Redacted
      p(class="bold") Age:  Redacted
      p(class="bold") Home World:	Redacted
      p(class="bold") Tactical Ability: Into the Void
      p(class="bold") Passive Ability: Voices from the Void
      p(class="bold") Ultimate Ability:	Dimensional Rift

  div(style="position: relative; text-align: center")
    footer(class="foot" style="position: fixed; bottom: 0; width:100%;") All data was collected off the EA Games website